// https://velog.io/@ji-yeong/React%EC%97%90%EC%84%9C-SassScss-%EC%82%AC%EC%9A%A9%ED%95%98%EA%B8%B0
.header {
  background-color: rgba(255, 255, 255, 0);
  position: absolute;
  width: 100%;
  z-index: 11;
}
.nav {
  max-width: 1280px;
  margin: 0 auto;
  margin-top: 36px;
  text-align: center;
  padding: 0 3vw;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 40px;
  font-size: 16px;
  h1 {
    display: block;
    font-size: 16px;
    background-image: url(../img/hoban_CI_eng.png);
    background-size: contain;
    width: 144px;
    height: 28px;
    background-repeat: no-repeat;
    text-align: center;
    a {
      display: inline-block;
      text-indent: -2000%;
      width: 100%;
      height: 100%;
    }
  }
  .nav-group {
    font-size: 1.1em;
  }
  .nav-list {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    cursor: pointer;
    :hover {
      color: #ee7500;
    }
  }
  .nav-list-title {
    padding: 0 15px;
    color: #fff;
    text-align: left;
  }
  .nav-list-title::before {
    content: "";
    height: 22px;
    position: relative;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    left: -14px;
  }
  .nav-list:nth-child(1) .nav-list-title {
    padding-left: 0px;
  }
  .nav-list:nth-last-child(1) .nav-list-title {
    padding-right: 0px;
  }
  .nav-list:nth-child(1) .nav-list-title::before {
    display: none;
  }
  .searchBtn {
    display: block;
    background-image: url(../img/find_icn.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;
    background-position: right;
    text-indent: -9999px;
    box-sizing: border-box;
    padding-right: 0;
    cursor: pointer;
  }
  .searchBtn:hover {
    display: block;
    background-image: url(../img/find_icn_hover.png);
  }
  // .nav-list-subgroup
}
