.swiper-container {
  /*! width: 1900px; */
  // background-size: cover;
  // background-position: center center;
  // overflow: hidden;
  // background-attachment: fixed;
  overflow: hidden;
  padding-bottom: 162px;
  background-color: #eee;
}
.mainTitle .swiper-wrapper {
  /*! width: 100%; */
  padding-left: 10vw;
  margin-top: 200px;
  box-sizing: border-box;
  position: relative;
}
.mainTitle .swiper-wrapper div strong {
  font-size: 1.6vw;
  margin-bottom: 0.8vw;
  font-weight: normal;
  color: #fff;
}
.mainTitle .swiper-wrapper div h2 {
  max-width: 1080px;
  font-size: 6vw;
  font-weight: bold;
  text-transform: uppercase;
  word-break: keep-all;
  color: #fff;
  padding-right: 10vw;
}
.mainTitle .swiper-wrapper div p {
  font-size: 1.3em;
  margin-top: 2vw;
  font-weight: normal;
  color: #fff;
  line-height: 1.5;
}
.mainTitle .swiper-wrapper .slick-next {
  display: none !important;
}
.mainTitle .slick-prev {
  display: none !important;
}
.mainTitle .slick-dots {
  display: inline-block !important;
  width: auto !important;
  bottom: -75px !important;
}
.mainTitle .slick-dots li {
  width: 14px !important;
  height: 14px !important;
}
.mainTitle .slick-dots li button:before {
  color: white !important;
}
// .swiper-slide-BG {
//   max-height: 880px;
// }
